# Virtuelle Umgebung ausschließen
new_enviroment/

# Python Cache-Dateien
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs und temporäre Dateien
*.log
*.tmp
*.bak
*.swp

# Konfigurationsdateien, falls vorhanden
config.json
config.yaml
.env

# IP-Adress-Dateien (falls du konkrete Dateien hast, in denen die IPs gespeichert sind)
ip_address.txt

echo "m5.csv" >> .gitignore
echo "yaz.csv" >> .gitignore
echo "bakery.csv" >> .gitignore
echo "air.csv" >> .gitignore
echo "wage.csv" >> .gitignore


# Oder spezifische Dateien ignorieren
m5.csv
bakery.csv
air.csv
yaz.csv
wage.csv